@font-face {
  font-family: 'shamlola-tv';
  src:  url('fonts/icons/shamlola-tv.eot?vyzgph');
  src:  url('fonts/icons/shamlola-tv.eot?vyzgph#iefix') format('embedded-opentype'),
    url('fonts/icons/shamlola-tv.ttf?vyzgph') format('truetype'),
    url('fonts/icons/shamlola-tv.woff?vyzgph') format('woff'),
    url('fonts/icons/shamlola-tv.svg?vyzgph#shamlola-tv') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'shamlola-tv' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cheveron-right:before {
  content: "\e916";
}
.icon-cheveron-left:before {
  content: "\e917";
}
.icon-Close:before {
  content: "\e900";
}
.icon-Cooking-Time:before {
  content: "\e901";
}
.icon-Filter:before {
  content: "\e902";
}
.icon-Icon-facebook:before {
  content: "\e903";
}
.icon-Icon-twitter:before {
  content: "\e904";
}
.icon-Instagram:before {
  content: "\e905";
}
.icon-Left:before {
  content: "\e906";
}
.icon-Like_icon:before {
  content: "\e907";
}
.icon-Menu:before {
  content: "\e908";
}
.icon-Path-78:before {
  content: "\e909";
}
.icon-Play:before {
  content: "\e90a";
}
.icon-Preparation-Time:before {
  content: "\e90b";
}
.icon-Print:before {
  content: "\e90c";
}
.icon-right:before {
  content: "\e90d";
}
.icon-Search_icon:before {
  content: "\e90e";
}
.icon-Servings:before {
  content: "\e90f";
}
.icon-Setting:before {
  content: "\e910";
}
.icon-Sign-out:before {
  content: "\e911";
}
.icon-To-Top:before {
  content: "\e912";
}
.icon-Trend:before {
  content: "\e913";
}
.icon-User_icon:before {
  content: "\e914";
}
.icon-whats-app:before {
  content: "\e915";
}
.icon-ctrl:before {
  content: "\ea50";
}
.icon-google-plus:before {
  content: "\ea8b";
}
