section.section.section-contact(id="contact-section")
    .mainTitle
        h2 CONTACT ME
        span Get in touch with me
    .container
        form.row
            .col-md-6
                input(type="text" placeholder="Your name") 
            .col-md-6
                input(type="email" placeholder="Your email") 
            .col-md-12
                textarea(placeholder="Your message")
                .contact__submit
                    a.btn.btn--main.cv(href="#")
                        span Send Message
section.section.copyright
    .container
        .row.center
            p &copy; Copyright 2019. All reserved.