section.section.section-skills(id="skills-section")
    .mainTitle
        h2 SKILLS
        span My Skills & Tools
    .container
        .row.center-vert
            .col-md-5
                .skills-box
                    h5.skills-box__title Some about my Abilities
                    p.skills-box__description Web development tools have come a long way in just a few short years. Thanks to this progress, we can harness the power of highly tested libraries to improve our workflow and benefit from greater possibilities when it comes to responsive design. Not only that, we can build things together thanks to ever-improving version control systems. From browser add-ons and plugins, to processors that streamline your code, there have never been more possibilities for creating awesome web applications.
                    p.skills-box__description But with the number of web dev tools increasing almost daily, finding the best software to get the job done can sometimes feel daunting. To help you out, we’ve created a list of essential tools for frontend development to get you started.
            .col-md-2
            .col-md-5
                .skills-box__wrap
                    .skills-box__skill
                        .skills-box__skillTop
                            p HTML/HTML5
                            span 95%
                        .skills-box__skillBottom.skills-box__skillBottom--95
                    .skills-box__skill
                        .skills-box__skillTop
                            p CSS/CSS3
                            span 90%
                        .skills-box__skillBottom.skills-box__skillBottom--90
                    .skills-box__skill
                        .skills-box__skillTop
                            p Javascript
                            span 80%
                        .skills-box__skillBottom.skills-box__skillBottom--80
                    .skills-box__skill
                        .skills-box__skillTop
                            p Jquery
                            span 85%
                        .skills-box__skillBottom.skills-box__skillBottom--85
                    .skills-box__skill
                        .skills-box__skillTop
                            p Bootstrap
                            span 90%
                        .skills-box__skillBottom.skills-box__skillBottom--90
                    .skills-box__skill
                        .skills-box__skillTop
                            p Ajax & RESTful API
                            span 85%
                        .skills-box__skillBottom.skills-box__skillBottom--85
                    .skills-box__skill
                        .skills-box__skillTop
                            p ES6
                            span 80%
                        .skills-box__skillBottom.skills-box__skillBottom--80
                    .skills-box__skill
                        .skills-box__skillTop
                            p Angular
                            span 80%
                        .skills-box__skillBottom.skills-box__skillBottom--80
