#app-box.app-box.active
    include ../components/_side-menu
    include ../shared/_home
    include ../shared/_about
    include ../shared/_skills
    include ../shared/_portfolio
    include ../shared/_contact